################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/CoctailBot/obj
/.vs/CoctailTelegramBot/v16/.suo
